/* ===========================
   RESET & BASE
=========================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background: #1E2428;
  color: #E3E9EB;
  min-height: 100vh;
}

a {
  color: #C9D6D9;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease;
}

a:hover {
  color: #ffffff;
}

ul {
  list-style: none;
}