.message {
  padding: 1em; 
  border: 1px solid #c3e6cb; 
  background-color: #d4edda;
  color: #155724;
  margin: 1em 0 2em 0;
  text-align: left; 
  border-radius: 5px;
  font-size: 1rem;
  animation: fadeIn 0.4s ease;
  box-sizing: border-box; 
  width: fit-content;
}

.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #c3e6cb;
}
