/* ===========================
   NAVBAR
=========================== */
#navbar {
  width: 100%;
  padding: 1.4rem 2rem;
  background: #272E33;
  border-bottom: 1px solid #3A444A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  z-index: 10;
}

#navbar h2 {
  color: #F1F5F6;
  font-size: 1.8rem;
  font-weight: 700;
  user-select: none;
}

#navbar ul {
  display: flex;
  gap: 1.5rem;
}

#navbar ul li a {
  color: #C9D6D9;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.2s;
}

#navbar ul li a:hover {
  color: #fff;
}

#navbar .btn {
  background: #7BA8A1;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  color: #0F1416 !important;
  font-weight: 600;
  transition: 0.2s ease;
}

#navbar .btn:hover {
  background: #68938D;
  transform: scale(1.05);
}

#navbar a.active {
  color: #fff;
  border-bottom: 2px solid #7BA8A1;
  padding-bottom: 2px;
}