.party {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  background: #272E33;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.party h1 {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #F1F5F6;
}

.party p {
  font-size: 1.1rem;
  margin: 10px 0;
  color: #E3E9EB;
}

/* ===== AÇÕES ===== */
.actions-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

/* BOTÃO EDITAR */
.btn-party {
  background: #7BA8A1;
  color: #0F1416;
  padding: 10px 22px;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.3s;
}

.btn-party:hover {
  background: #68938D;
}

/* BOTÃO EXCLUIR */
.btn-secondary-party {
  background: #7BA8A1;
  color: #0F1416;
  padding: 10px 22px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.btn-secondary-party:hover {
  background: #68938D;
  color: white;
}

/* ===== SERVIÇOS ===== */
.services-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.service {
  width: 160px;
  background: #2C3439;
  border-radius: 10px;
  padding: 12px;
  text-align: center;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.18);
  transition: 0.2s ease;
}

.service:hover {
  transform: translateY(-4px);
}

.service img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 8px;
}

.service p {
  font-weight: 600;
  color: #E3E9EB;
}
